---
import sanityFetch from '@/utils/sanity.fetch';
import Layout from '../layouts/Layout.astro';

type QueryProps = {
  title: string;
  description: string;
};

const seo = await sanityFetch<QueryProps>({
  query: /* groq */ `
    *[_type == "Index_Page"][0].seo {
      title,
      description,
    }
  `,
});
---

<Layout {...seo} path="/">
  <p>{seo.title}</p>
</Layout>
