---
import sanityFetch from '@/utils/sanity.fetch';
import Layout from '../layouts/Layout.astro';
import metadataFetch from '@/utils/metadata.fetch';
import Markdown from '@/components/ui/markdown.astro';

const metadata = await metadataFetch('Index_Page');

const { title } = await sanityFetch<{ title: string }>({
  query: `
    *[_type == "Index_Page"][0] {
      title,
    }
  `,
});
---

<Layout {...metadata} path="/">
  <p>Kryptonum</p>
  <Markdown>{title}</Markdown>
</Layout>
