---
import Layout from '../layouts/Layout.astro';
import metadataFetch from '@/utils/metadata.fetch';

const metadata = await metadataFetch('Index_Page');
---

<Layout {...metadata} path="/">
  <p>Kryptonum</p>
  <a href="/time">Go to <i>/time</i></a>
</Layout>
