---
import sanityFetch from '@/utils/sanity.fetch';
import Layout from '../layouts/Layout.astro';
import metadataFetch from '@/utils/metadata.fetch';
import Image, {
  ImgDataQuery,
  type ImageDataTypes,
} from '@/components/ui/image.astro';

const metadata = await metadataFetch('Index_Page');

const { img } = await sanityFetch<{ img: ImageDataTypes }>({
  query: `
    *[_type == "Index_Page"][0] {
      img {
        ${ImgDataQuery}
      }
    }
  `,
});
---

<Layout {...metadata} path="/">
  <p>Kryptonum</p>
  <Image data={img} />
</Layout>
