---
const currentTime = new Date().toLocaleTimeString();
Astro.locals.cache = () => 50;
---

<html>
  <head>
    <title>Current Time</title>
  </head>
  <body>
    <h1>The current time is: {currentTime}</h1>
    <a href="/">Go back to homepage</a>
  </body>
</html>
