---
type Props = {
  title: string;
  paragraph: string;
};

const { title, paragraph } = Astro.props;
---

<section is="card-item">
  <h2>{title}</h2>
  <p>{paragraph}</p>
  <button aria-label="Heart">💜</button> × <span>0</span>
</section>

<style>
  div {
    padding: 1em 2em;
    background-color: var(--neutral-200);
  }
</style>

<script>
  customElements.define(
    'card-item',
    class extends HTMLElement {
      button: HTMLButtonElement;
      span: HTMLSpanElement;
      constructor() {
        super();
        let count = 0;
        this.button = this.querySelector('button')!;
        this.span = this.querySelector('span')!;
        this.button.addEventListener('click', () => {
          count++;
          this.span.textContent = count.toString();
        });
      }
    },
    {
      extends: 'section',
    }
  );
</script>
