---
type Props = {
  title: string;
  paragraph: string;
};

const { title, paragraph } = Astro.props;
---

<div>
  <h2>{title}</h2>
  <p>{paragraph}</p>
</div>

<style>
  div {
    padding: 1em 2em;
    background-color: var(--neutral-200);
  }
</style>

<script>
  document.querySelectorAll('div').forEach((el) => {
    el.addEventListener('click', () => {
      el.style.backgroundColor = 'var(--neutral-300)';
    });
  });
</script>
